#categorySlider {
  padding: 30px 0;
  background-color: #edf2f6;
  position: relative;
}
#categorySlider .slide-category-content {
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 17.5px;
  border: 1px solid #d1e7f7;
  color: #000;
  font-weight: 700;
  background: #a4cae6;
  color: #396a8d;
}
#categorySlider .prev-button {
  color: #396a8d;
  position: absolute;
  top: 31%;
  left: 170px;
  font-size: 20px;
  outline: none;
  border: none;
}
#categorySlider .next-button {
  color: #396a8d;
  position: absolute;
  top: 31%;
  right: 170px;
  font-size: 20px;
  outline: none;
  border: none;
}

#NewsSlider {
  position: relative;
  background-color: #222;
}
#NewsSlider .slide-news-content {
  width: 60% !important;
}
#NewsSlider img {
  width: 53%;
  height: 186px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 33px;
}
#NewsSlider .text1 {
  position: absolute;
  bottom: 10px;
  left: 112px;
  color: #fff;
  font-size: 10px;
  width: 50%;
}
#NewsSlider h3 {
  font-size: 17px;
  width: 20%;
}

#HeroNews {
  background-color: #edf2f6;
  z-index: -1;
}
#HeroNews .right-content {
  border: 1px solid #edf2f6;
}
#HeroNews .ambassador-advertise {
  padding: 0px 40px;
  border: 1px solid #396a8d;
  width: 300px;
}
#HeroNews .ambassador-advertise img {
  width: 220px;
  height: 179px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px 10px;
}
#HeroNews .news-header {
  color: #000;
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid #222;
  border-top: 1px solid #222;
}
#HeroNews .news-header h3 {
  font-size: 16px;
  font-weight: 700;
}
#HeroNews .news-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
#HeroNews .news-content .news {
  display: flex;
  width: 50%;
  margin-bottom: 30px;
  border-bottom: 1px solid #222;
  padding: 10px 0;
}
#HeroNews .news-content .news img {
  width: 140px;
  margin-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
#HeroNews .news-content .news .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#HeroNews .news-content .news .text span {
  font-size: 12px;
  background-color: #396a8d;
  padding: 7px 12px;
  border-radius: 10px;
  color: #fff;
}
#HeroNews .news-content .news .text h2 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 7px;
}

@media (max-width: 576px) {
  .next-button, .prev-button {
    display: none !important;
  }
  .slide-category-content {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
  }
  #HeroNews .news-content .news {
    width: 100%;
  }
  #HeroNews .advertising {
    display: none;
  }
}
#contactHero {
  background-color: #edf2f6;
  padding: 30px 0;
}
#contactHero .header-contact {
  text-align: center;
}
#contactHero .sending-area {
  width: 50%;
  margin: 0 auto;
}
#contactHero .sending-area input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(67, 67, 67);
  width: 100%;
  background-color: transparent;
}
#contactHero .subject-content {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}
#contactHero .subject-content select {
  width: 100%;
  background-color: #d1e7f7;
  outline: none;
  border: none;
}
#contactHero .message-content {
  padding-bottom: 100px;
}
#contactHero .message-content button {
  margin-top: 20px;
  padding: 10px 14px;
  background-color: #d1e7f7;
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
  border-style: none;
  outline: none;
  width: 100%;
}
#contactHero .message-content textarea {
  background-color: #edf2f6;
  outline: none;
}

@media (max-width: 576px) {
  #contactHero .sending-area {
    width: 100%;
  }
  #contactHero .subject-area {
    width: 100%;
  }
  #contactHero .message-content {
    width: 100%;
  }
  #contactHero .message-content textarea {
    width: 100%;
  }
}
#privacyNotesHero {
  background-color: #edf2f6;
  padding: 30px 0;
}
#privacyNotesHero .heading {
  text-align: center;
}
#privacyNotesHero .texts {
  width: 80%;
  margin: 0 auto;
  color: #000;
  border: 1px solid #181818;
  padding: 60px;
}

#HeroDetails {
  background-color: #edf2f6;
  padding: 40px 0;
}
#HeroDetails .heading {
  padding: 20px 14px !important;
  border-radius: 7px;
  background: #5433ff;
  background: linear-gradient(to right, #a5fecb, #20bdff, #5433ff);
  padding: 0 20px;
  display: flex;
}
#HeroDetails .heading .club-country-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#HeroDetails .heading .club-country-name h2 {
  color: #fff;
  font-weight: bold;
}
#HeroDetails .heading .club-image {
  width: 30%;
  background-color: #fff;
}
#HeroDetails .heading .club-image img {
  width: 100%;
  padding: 13px 0;
}
#HeroDetails .heading .club-name {
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
}
#HeroDetails .heading .club-name img {
  -o-object-fit: contain;
     object-fit: contain;
}
#HeroDetails .statistics {
  background-color: #fff;
  border-radius: 7px;
  margin-top: 20px;
  padding: 10px 20px;
}
#HeroDetails .statistics .circle {
  font-size: 15px;
  width: 47px;
  height: 46px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  z-index: 0;
}
#HeroDetails .statistics .circle::after {
  font-size: 0.45em;
}
#HeroDetails .statistics .circle::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 10px;
  background: linear-gradient(#f3f3f3, #f3f3f3) content-box, conic-gradient(#3498db 0 var(--p1), #3498db calc(var(--p1) + 0.1%) calc(var(--p1) + var(--p2)), grey 0);
}
#HeroDetails .statistics h3 {
  color: rgb(34, 34, 38);
  text-align: center;
  font: 700 20px/24px Roboto, sans-serif;
}
#HeroDetails .statistics .statistic-all {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#HeroDetails .statistics .statistic-all .box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#HeroDetails .statistics .statistic-all .players-count {
  color: rgb(34, 34, 38);
  text-align: left;
  font: 700 14px/16px Roboto, sans-serif;
}
#HeroDetails .statistics .statistic-all .total-players {
  height: 32px;
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font: 500 12px/1.33 Roboto, sans-serif;
}
#HeroDetails .information {
  padding: 15px 0;
  background-color: #fff;
  text-align: left;
  border-radius: 7px;
  margin-top: 10px;
}
#HeroDetails .information .information-heading h2 {
  padding: 12px 16px 4px;
  color: rgb(34, 34, 38);
  font: 700 16px/24px Roboto, sans-serif;
}
#HeroDetails .information .coach {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
}
#HeroDetails .information .coach .title {
  color: rgb(34, 34, 38);
  text-align: left;
  font: 400 14px/1.14 Roboto, sans-serif;
}
#HeroDetails .information .coach .name {
  color: rgb(29, 124, 216);
  text-align: left;
  font: 400 17px/16px Robo;
}
#HeroDetails .information .foundation-date {
  margin-top: 10px;
  padding: 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#HeroDetails .information .country {
  margin-top: 10px;
  padding: 0 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
#HeroDetails .information .country .country-image {
  width: 25px;
}
#HeroDetails .venue {
  padding: 15px 0;
  background-color: #fff;
  border-radius: 7px;
  margin-top: 10px;
}
#HeroDetails .venue .venue-heading h2 {
  padding: 12px 16px 4px;
  color: rgb(34, 34, 38);
  font: 700 20px Roboto, sans-serif;
}
#HeroDetails .venue .stadium {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#HeroDetails .venue .capacity {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#HeroDetails .venue .city {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#HeroDetails .transfers {
  background-color: #fff;
  border-radius: 7px;
  padding: 10px;
  margin-top: 10px;
}
#HeroDetails .transfers .transfers-all {
  display: flex;
  justify-content: space-between;
}
#HeroDetails .transfers .transfers-heading {
  margin-bottom: 20px;
}
#HeroDetails .transfers .transfers-heading h2 {
  padding: 12px 16px 4px;
  color: rgb(34, 34, 38);
  font: 700 20px Roboto, sans-serif;
  text-align: center;
}
#HeroDetails .transfers .arrival,
#HeroDetails .transfers .departures {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#HeroDetails .transfers .arrivals-content {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  color: rgb(21, 177, 104);
  text-align: left;
  font: 700 14px/16px Roboto, sans-serif;
}
#HeroDetails .transfers .departures-content {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  color: rgb(199, 54, 31);
  text-align: left;
  font: 700 14px/16px Roboto, sans-serif;
}
#HeroDetails .wins-and-loses {
  display: flex;
  flex: 1;
  border-radius: 7px;
  font-size: 24px;
  width: 100%;
  overflow: hidden;
}
#HeroDetails .wins-and-loses .boxes {
  width: 25px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font: 800 14px/1.14 Roboto, sans-serif;
  color: rgb(255, 255, 255);
  padding: 5px 4px;
}
#HeroDetails .wins-and-loses .win {
  background-color: #07bc0c;
}
#HeroDetails .wins-and-loses .lose {
  background-color: rgb(199, 54, 31);
}
#HeroDetails .wins-and-loses .equal {
  background-color: gray;
}
#HeroDetails .tournaments {
  padding: 10px 0;
  background-color: #fff;
  border-radius: 7px;
}
#HeroDetails .tournaments .tournament-heading {
  color: rgb(34, 34, 38);
  font: 700 22px/24px Roboto, sans-serif;
}
#HeroDetails .tournaments .cup-all {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#HeroDetails .tournaments .cup {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
#HeroDetails .tournaments .cup img {
  width: 60px;
}
#HeroDetails .standings {
  background-color: #fff;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 10px;
}
#HeroDetails .standings .club-image {
  width: 30px;
}
#HeroDetails .players-list-tabs {
  width: 100%;
  margin-top: 5px;
}
#HeroDetails .players-list-tabs .view-type {
  margin: 0 auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
#HeroDetails .players-box {
  background-color: #fff;
  padding: 10px;
  border-radius: 7px;
  margin-top: 9px;
}
#HeroDetails .players-box .forward .forward-heading span {
  color: #cb1818;
  text-align: left;
  font: 700 14px/1.14 Roboto, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#HeroDetails .players-box .forward .forward-body .all {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#HeroDetails .players-box .forward .forward-body .box {
  margin-right: 10px;
  padding-top: 20px;
  text-align: center;
  width: 23%;
  position: relative;
  background-color: rgba(179, 183, 189, 0.4);
  border-radius: 10%;
}
#HeroDetails .players-box .forward .forward-body .player-image-content {
  width: 80px;
  margin: 0 auto;
  padding: 0 0 10px;
}
#HeroDetails .players-box .forward .forward-body .player-image-content .player-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 100%;
}
#HeroDetails .players-box .forward .forward-body .player-number-content {
  background-color: rgb(81, 86, 95);
  position: absolute;
  right: 13px;
  bottom: 50px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
#HeroDetails .players-box .forward .forward-body .player-number-content .player-number {
  color: #fff;
  text-align: center;
  font: 700 14px/24px Roboto, sans-serif;
}
#HeroDetails .players-box .forward .forward-body .footer-body-forward {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(229, 233, 239, 0.4);
  padding: 5px;
}
#HeroDetails .players-box .forward .forward-body .footer-body-forward .country {
  display: flex;
  justify-content: center;
  align-items: center;
}
#HeroDetails .players-box .forward .forward-body .footer-body-forward .country .country-image {
  width: 22px;
}
#HeroDetails .players-box .forward .forward-body .footer-body-forward .country .country-name {
  color: rgb(34, 34, 38);
  text-align: left;
  font: 400 14px/16px Roboto, sans-serif;
}
#HeroDetails .players-box .forward .forward-body .footer-body-forward .type {
  color: rgb(203, 24, 24);
  text-align: left;
  font: 700 14px/1.14 Roboto, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#HeroDetails .players-box .midfielder .midfielder-heading span {
  color: rgb(20, 172, 35);
  text-align: left;
  font: 700 14px/1.14 Roboto, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#HeroDetails .players-box .midfielder .midfielder-body .all {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#HeroDetails .players-box .midfielder .midfielder-body .box {
  margin-top: 10px;
  margin-right: 10px;
  padding-top: 20px;
  text-align: center;
  width: 23%;
  position: relative;
  background-color: rgba(179, 183, 189, 0.4);
  border-radius: 10%;
}
#HeroDetails .players-box .midfielder .midfielder-body .player-image-content {
  width: 80px;
  margin: 0 auto;
  padding: 0 0 10px;
}
#HeroDetails .players-box .midfielder .midfielder-body .player-image-content .player-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 100%;
}
#HeroDetails .players-box .midfielder .midfielder-body .player-number-content {
  background-color: rgb(81, 86, 95);
  position: absolute;
  right: 13px;
  bottom: 50px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
#HeroDetails .players-box .midfielder .midfielder-body .player-number-content .player-number {
  color: #fff;
  text-align: center;
  font: 700 14px/24px Roboto, sans-serif;
}
#HeroDetails .players-box .midfielder .midfielder-body .footer-body-forward {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(229, 233, 239, 0.4);
  padding: 5px;
}
#HeroDetails .players-box .midfielder .midfielder-body .footer-body-forward .country {
  display: flex;
  justify-content: center;
  align-items: center;
}
#HeroDetails .players-box .midfielder .midfielder-body .footer-body-forward .country .country-image {
  width: 22px;
}
#HeroDetails .players-box .midfielder .midfielder-body .footer-body-forward .country .country-name {
  color: rgb(34, 34, 38);
  text-align: left;
  font: 400 14px/16px Roboto, sans-serif;
}
#HeroDetails .players-box .midfielder .midfielder-body .footer-body-forward .type {
  color: rgb(20, 172, 35);
  text-align: left;
  font: 700 14px/1.14 Roboto, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#HeroDetails .players-box .defender .defender-heading span {
  color: rgb(29, 124, 216);
  text-align: left;
  font: 700 14px/1.14 Roboto, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#HeroDetails .players-box .defender .defender-body .all {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#HeroDetails .players-box .defender .defender-body .box {
  margin-top: 10px;
  margin-right: 10px;
  padding-top: 20px;
  text-align: center;
  width: 23%;
  position: relative;
  background-color: rgba(179, 183, 189, 0.4);
  border-radius: 10%;
}
#HeroDetails .players-box .defender .defender-body .player-image-content {
  width: 80px;
  margin: 0 auto;
  padding: 0 0 10px;
}
#HeroDetails .players-box .defender .defender-body .player-image-content .player-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 100%;
}
#HeroDetails .players-box .defender .defender-body .player-number-content {
  background-color: rgb(81, 86, 95);
  position: absolute;
  right: 13px;
  bottom: 50px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
#HeroDetails .players-box .defender .defender-body .player-number-content .player-number {
  color: #fff;
  text-align: center;
  font: 700 14px/24px Roboto, sans-serif;
}
#HeroDetails .players-box .defender .defender-body .footer-body-forward {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(229, 233, 239, 0.4);
  padding: 5px;
}
#HeroDetails .players-box .defender .defender-body .footer-body-forward .country {
  display: flex;
  justify-content: center;
  align-items: center;
}
#HeroDetails .players-box .defender .defender-body .footer-body-forward .country .country-image {
  width: 22px;
}
#HeroDetails .players-box .defender .defender-body .footer-body-forward .country .country-name {
  color: rgb(34, 34, 38);
  text-align: left;
  font: 400 14px/16px Roboto, sans-serif;
}
#HeroDetails .players-box .defender .defender-body .footer-body-forward .type {
  color: rgb(29, 124, 216);
  text-align: left;
  font: 700 14px/1.14 Roboto, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#HeroDetails .players-box .goalkeeper .goalkeeper-heading span {
  color: #e59c03;
  text-align: left;
  font: 700 14px/1.14 Roboto, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#HeroDetails .players-box .goalkeeper .goalkeeper-body .all {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#HeroDetails .players-box .goalkeeper .goalkeeper-body .box {
  margin-right: 10px;
  padding-top: 20px;
  text-align: center;
  width: 23%;
  position: relative;
  background-color: rgba(179, 183, 189, 0.4);
  border-radius: 10%;
}
#HeroDetails .players-box .goalkeeper .goalkeeper-body .player-image-content {
  width: 80px;
  margin: 0 auto;
  padding: 0 0 10px;
}
#HeroDetails .players-box .goalkeeper .goalkeeper-body .player-image-content .player-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 100%;
}
#HeroDetails .players-box .goalkeeper .goalkeeper-body .player-number-content {
  background-color: rgb(81, 86, 95);
  position: absolute;
  right: 13px;
  bottom: 50px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
#HeroDetails .players-box .goalkeeper .goalkeeper-body .player-number-content .player-number {
  color: #fff;
  text-align: center;
  font: 700 14px/24px Roboto, sans-serif;
}
#HeroDetails .players-box .goalkeeper .goalkeeper-body .footer-body-forward {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(229, 233, 239, 0.4);
  padding: 5px;
}
#HeroDetails .players-box .goalkeeper .goalkeeper-body .footer-body-forward .country {
  display: flex;
  justify-content: center;
  align-items: center;
}
#HeroDetails .players-box .goalkeeper .goalkeeper-body .footer-body-forward .country .country-image {
  width: 22px;
}
#HeroDetails .players-box .goalkeeper .goalkeeper-body .footer-body-forward .country .country-name {
  color: rgb(34, 34, 38);
  text-align: left;
  font: 400 14px/16px Roboto, sans-serif;
}
#HeroDetails .players-box .goalkeeper .goalkeeper-body .footer-body-forward .type {
  color: #e59c03;
  text-align: left;
  font: 700 14px/1.14 Roboto, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#HeroDetails .players-list {
  margin-top: 10px;
  background-color: #fff;
}
#HeroDetails .players-list .player-number-content {
  background-color: rgb(81, 86, 95);
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
#HeroDetails .players-list .player-number-content .player-number {
  color: #fff;
  text-align: center;
  font: 700 14px/24px Roboto, sans-serif;
}
#HeroDetails .players-list .position-forward {
  color: rgb(203, 24, 24);
  text-align: left;
  font: 700 14px/1.14 Roboto, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#HeroDetails .players-list .position-midfielder {
  color: #14ac23;
  text-align: left;
  font: 700 14px/1.14 Roboto, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#HeroDetails .players-list .position-defender {
  color: #1d7cd8;
  text-align: left;
  font: 700 14px/1.14 Roboto, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#HeroDetails .players-list .position-goalkeeper {
  color: #e59c03;
  text-align: left;
  font: 700 14px/1.14 Roboto, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#HeroDetails .players-list .nationality {
  display: flex;
  justify-content: center;
  align-items: center;
}
#HeroDetails .players-list .country-image {
  width: 24px;
}
#HeroDetails .top-players {
  background-color: #fff;
  padding: 10px 10px 60px;
  margin-top: 20px;
  border-radius: 7px;
}
#HeroDetails .top-players .heading-top-players {
  display: flex;
  margin-top: 10px;
}
#HeroDetails .top-players .footballer-table .player {
  display: flex;
  justify-content: flex-start;
}
#HeroDetails .top-players .footballer-table .text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#HeroDetails .top-players .footballer-table .text .duty {
  color: rgba(34, 34, 38, 0.45);
  text-align: left;
  font: 500 12px/16px Roboto, sans-serif;
}
#HeroDetails .top-players .footballer-table .player-image {
  width: 39px;
  border-radius: 100%;
}
#HeroDetails .top-players .footballer-table .player-rating {
  color: #fff;
  background-color: rgb(162, 188, 0);
  height: 24px;
  width: 32px;
  border-radius: 4px;
  text-align: center;
  padding: 4px 10px;
  font: 700 14px "Roboto Condensed", sans-serif;
  letter-spacing: -0.5px;
}
#HeroDetails .top-players .nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}
#HeroDetails .top-players .nice-select:hover {
  border-color: #dbdbdb;
}
#HeroDetails .top-players .nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: "";
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 5px;
}
#HeroDetails .top-players .nice-select.open:after {
  transform: rotate(-135deg);
}
#HeroDetails .top-players .nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}
#HeroDetails .top-players .nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}
#HeroDetails .top-players .nice-select.disabled:after {
  border-color: #cccccc;
}
#HeroDetails .top-players .nice-select.wide {
  width: 100%;
}
#HeroDetails .top-players .nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
#HeroDetails .top-players .nice-select.right {
  float: right;
}
#HeroDetails .top-players .nice-select.right .list {
  left: auto;
  right: 0;
}
#HeroDetails .top-players .nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}
#HeroDetails .top-players .nice-select.small:after {
  height: 4px;
  width: 4px;
}
#HeroDetails .top-players .nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}
#HeroDetails .top-players .nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
#HeroDetails .top-players .nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
#HeroDetails .top-players .nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}
#HeroDetails .top-players .nice-select .option.selected {
  font-weight: bold;
}
#HeroDetails .top-players .nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}
#HeroDetails .top-players .nice-select:active,
#HeroDetails .top-players .nice-select.open,
#HeroDetails .top-players .nice-select:focus {
  border-color: #999;
}
#HeroDetails .top-players .nice-select .option:hover,
#HeroDetails .top-players .nice-select .option.focus,
#HeroDetails .top-players .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}
#HeroDetails .top-players .no-csspointerevents .nice-select .list {
  display: none;
}
#HeroDetails .top-players .no-csspointerevents .nice-select.open .list {
  display: block;
}
#HeroDetails .club-matches {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 7px;
}
#HeroDetails .matches {
  padding: 14px 0;
}
#HeroDetails .matches .all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#HeroDetails .matches .left {
  display: flex;
}
#HeroDetails .matches .champion-league-logo {
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}
#HeroDetails .matches a {
  color: #000;
}
#HeroDetails .matches .description {
  font-weight: bold;
}
#HeroDetails .matches .league {
  color: #14ac23;
  text-align: left;
  font: 500 12px/1.33 Roboto, sans-serif;
}
#HeroDetails .matches .match-result .teams {
  display: flex;
  align-items: center;
}
#HeroDetails .matches .match-result .current-time {
  color: #000;
}
#HeroDetails .matches .match-result .current-scores {
  color: #000;
}
#HeroDetails .matches .match-result .team-img {
  width: 25px;
}
#HeroDetails .matches .match-result .team-name {
  color: #000;
}
#HeroDetails .matches .match-result .content {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10px;
  border-radius: 8px;
  cursor: pointer;
}
#HeroDetails .matches .match-result .content:hover {
  background-color: #d2d2d2;
  transition: 0.2s;
}
#HeroDetails .matches .match-result .favorite-star {
  width: 10px;
}
#HeroDetails .players-list-common-area {
  background-color: #fff;
  border-radius: 7px;
  padding: 10px;
}

.displaying-match {
  display: block !important;
}

.displaying-rankings {
  visibility: visible;
}

#HeroRankings {
  background-color: #edf2f6;
  padding: 30px 0;
}
#HeroRankings .list-group-item {
  cursor: pointer;
}
#HeroRankings .name {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
#HeroRankings .name span:first-child {
  color: rgb(34, 34, 38);
  text-align: left;
  font: 400 14px/1.14 Roboto, sans-serif;
}
#HeroRankings .name span:last-child {
  color: rgba(34, 34, 38, 0.45);
  text-align: left;
  font: 500 12px/1.33 Roboto, sans-serif;
}
#HeroRankings .rankings-leagues {
  border-top: none;
}
#HeroRankings .ligs {
  padding: 14px 0;
  border-radius: 8px;
  border: 1px solid rgb(29, 124, 216);
  background-color: rgba(180, 204, 223, 0.4509803922);
}
#HeroRankings .ligs .top-leagues-heading,
#HeroRankings .ligs .all-leagues-heading {
  color: rgb(111, 111, 185);
}
#HeroRankings .ligs .flags {
  width: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #fff;
}
#HeroRankings .ligs .flag-names {
  color: #000;
  font-weight: bold;
}
#HeroRankings .team-image {
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
#HeroRankings .league-and-country {
  display: flex;
  flex-direction: column;
}
#HeroRankings .matches {
  padding: 14px 0;
}
#HeroRankings .matches .all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#HeroRankings .matches .left {
  display: flex;
}
#HeroRankings .matches .champion-league-logo {
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}
#HeroRankings .matches a {
  color: #000;
}
#HeroRankings .matches .description {
  font-weight: bold;
}
#HeroRankings .matches .league {
  font-weight: 200;
}
#HeroRankings .matches .match-result .teams {
  display: flex;
  align-items: center;
}
#HeroRankings .matches .match-result .current-time {
  color: #000;
}
#HeroRankings .matches .match-result .current-scores {
  color: #000;
}
#HeroRankings .matches .match-result .team-img {
  width: 20px;
}
#HeroRankings .matches .match-result .team-name {
  color: #000;
}
#HeroRankings .matches .match-result .content {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgba(180, 204, 223, 0.4509803922);
  padding: 0 10px;
  border-radius: 8px;
  cursor: pointer;
}
#HeroRankings .matches .match-result .favorite-star {
  width: 10px;
}
#HeroRankings .news-header {
  width: 69%;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(29, 124, 216);
  border-radius: 8px;
  padding: 10px 10px;
  margin-top: 10px;
}
#HeroRankings .news {
  width: 69%;
  position: relative;
}
#HeroRankings .news .news-content .news-photo {
  width: 305px;
  height: 169px;
  margin-top: 10px;
  border-radius: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
#HeroRankings .news .news-content .news-text {
  color: #fff;
}
#HeroRankings .news .news-content .news-text h2 {
  font-size: 20px;
  position: absolute;
  bottom: 6px;
  left: 14px;
}
#HeroRankings .advertising-banner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.displaying-match {
  display: block !important;
}

.displaying-rankings {
  visibility: visible;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.custom-container {
  margin: 0 12rem;
}

.scroll-button {
  background-color: rgba(149, 185, 215, 0.3215686275);
  color: rgb(29, 124, 216);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  padding: 8px 13px;
  border-radius: 14px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

#advertising-header {
  padding: 10px 0;
  background-color: #edf2f6;
}
#advertising-header img {
  width: 828px;
  margin: auto;
  display: block;
}

#Header {
  background-color: #edf2f6;
  padding: 15px 15px 15px 18px;
  border-bottom: 1px solid rgb(29, 124, 216);
}
#Header #menuIcon {
  color: #000;
  font-size: 24px;
  margin-right: 20px;
}
#Header .header-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Header .header-all span {
  color: #000;
}
#Header .header-all .menu {
  font-weight: bold;
}
#Header .header-all .menu .hamburger-menu {
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}
#Header .header-all .menu .header-common-icons {
  width: 24px;
  margin-right: 7px;
}

#HeaderPhone {
  background-color: #edf2f6;
  padding: 10px 0;
  display: none;
}
#HeaderPhone .all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#HeaderPhone .all i {
  color: #000;
  font-size: 24px;
}

#Hero {
  background-color: #edf2f6;
  position: relative;
}
#Hero .categoires {
  padding: 10px 0;
  display: flex;
  justify-content: start;
}
#Hero .categoires .category {
  margin: 0 4px;
}
#Hero .categoires .category a {
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 17.5px;
  color: #000;
  font-weight: 700;
  background: rgba(177, 216, 249, 0.451);
}
#Hero .countries {
  padding: 10px 0;
  width: 188px;
}
#Hero .countries .top-leagues {
  border-top: none;
}
#Hero .countries .search-area {
  border-radius: 8px;
  padding: 10px 20px;
}
#Hero .countries .search-area .search-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #000;
}
#Hero .countries .ligs {
  padding: 14px 0;
  border-radius: 8px;
  border: 1px solid rgb(29, 124, 216);
  background-color: rgba(180, 204, 223, 0.4509803922);
}
#Hero .countries .ligs .top-leagues-heading,
#Hero .countries .ligs .all-leagues-heading {
  color: rgb(111, 111, 185);
}
#Hero .countries .ligs .flags {
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}
#Hero .countries .ligs .flag-names {
  color: #000;
  font-weight: 400;
}
#Hero .times {
  padding: 5px 0;
  width: 100%;
  margin: 0 auto;
  /*
  * Container
  */
  /*
  * Date Picker
  */
  /*
  * Calendar
  */
}
#Hero .times *,
#Hero .times *:before,
#Hero .times *:after {
  box-sizing: border-box;
}
#Hero .times .container {
  margin: 20px auto 0;
  max-width: 600px;
}
#Hero .times .date-picker {
  position: relative;
}
#Hero .times .date-picker__calendar {
  left: 0;
  position: absolute;
  top: 100%;
  width: 274px;
  overflow: 0;
  transition: opacity 0.2s ease-out, visibility 0.2s step-start 0.2s;
  visibility: hidden;
}
#Hero .times .date-picker__calendar_visible {
  opacity: 1;
  transition-delay: 0s;
  visibility: visible;
}
#Hero .times .calendar-active {
  visibility: visible !important;
  opacity: 1 !important;
}
#Hero .times .calendar {
  visibility: hidden;
  opacity: 0;
  padding: 10px;
  width: 411px;
  position: absolute;
  top: 124px;
  left: 385px;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  color: #1e2633;
  text-align: center;
  line-height: 1.2;
  border-radius: 7px;
  border: 3px solid #edeff2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.5s;
}
#Hero .times .calendar__header {
  position: relative;
  padding: 10px 35px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
#Hero .times .calendar__year {
  color: #b3b3b3;
}
#Hero .times .calendar__btn {
  position: absolute;
  top: 8px;
  display: block;
  height: 20px;
  padding: 0;
  width: 20px;
  text-indent: -9999px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}
#Hero .times .calendar__btn:before {
  content: "";
  position: absolute;
  top: 6px;
  display: block;
  height: 8px;
  width: 8px;
  border-left: 1px solid #1e2633;
  border-top: 1px solid #1e2633;
  transform-origin: center;
}
#Hero .times .calendar__btn_prev {
  left: 10px;
}
#Hero .times .calendar__btn_prev:before {
  left: 8px;
  transform: rotate(-45deg);
}
#Hero .times .calendar__btn_next {
  right: 10px;
}
#Hero .times .calendar__btn_next:before {
  right: 8px;
  transform: rotate(135deg);
}
#Hero .times .calendar__btn_disabled {
  pointer-events: none;
}
#Hero .times .calendar__btn_disabled:before {
  border-color: #b2b2b2;
}
#Hero .times .calendar__btn:hover:before {
  border-color: #985e5b;
}
#Hero .times .calendar__table {
  margin-top: 8px;
  width: 100%;
  table-layout: fixed;
}
#Hero .times .calendar__table-col-header {
  padding: 12px 0;
  color: #b2b2b2;
  font-size: 12px;
  letter-spacing: 0.1em;
}
#Hero .times .calendar__table-cell {
  padding: 6px 0;
  color: #1e2633;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  cursor: pointer;
}
#Hero .times .calendar__table-cell_disabled {
  color: #d3dbe8;
  pointer-events: none;
}
#Hero .times .calendar__table-cell_selected, #Hero .times .calendar__table-cell:hover {
  color: #985e5b;
}
#Hero .times .time-menu {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(29, 124, 216);
  background-color: rgba(180, 204, 223, 0.4509803922);
  border-radius: 8px;
  transition: 0.4s;
}
#Hero .times .time-menu .selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}
#Hero .times .time-menu .live-logo {
  width: 38px;
  background-color: #000;
}
#Hero .times .time-menu .calendar-img {
  width: 25px;
  margin-right: 20px;
  background-color: #000;
  cursor: pointer;
}
#Hero .matches {
  padding: 14px 0;
}
#Hero .matches .all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Hero .matches .left {
  display: flex;
}
#Hero .matches .champion-league-logo {
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}
#Hero .matches a {
  color: #000;
}
#Hero .matches .description {
  font-weight: bold;
}
#Hero .matches .league {
  font-weight: 200;
}
#Hero .matches .match-result .teams {
  display: flex;
  align-items: center;
}
#Hero .matches .match-result .current-time {
  color: #000;
}
#Hero .matches .match-result .current-scores {
  color: #000;
}
#Hero .matches .match-result .team-img {
  width: 20px;
}
#Hero .matches .match-result .team-name {
  color: #000;
}
#Hero .matches .match-result .content {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgba(180, 204, 223, 0.4509803922);
  padding: 0 10px;
  border-radius: 8px;
  cursor: pointer;
}
#Hero .matches .match-result .favorite-star {
  width: 10px;
}
#Hero .news-header {
  width: 69%;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(29, 124, 216);
  border-radius: 8px;
  padding: 10px 10px;
  margin-top: 10px;
}
#Hero .news {
  width: 69%;
  position: relative;
}
#Hero .news .news-content .news-photo {
  width: 305px;
  height: 169px;
  margin-top: 10px;
  border-radius: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
#Hero .news .news-content .news-text {
  color: #fff;
}
#Hero .news .news-content .news-text h2 {
  font-size: 20px;
  position: absolute;
  bottom: 6px;
  left: 14px;
}
#Hero .advertising-banner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#Hero .current-match {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
  padding: 28px 8px;
  font: 700 12px/1.14 Roboto, sans-serif;
  font-size: 15px;
}
#Hero .current-match .close-icon-current-match-content {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 26px;
  cursor: pointer;
}
#Hero .current-match .heading {
  padding: 0 20px;
}
#Hero .current-match .heading ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
}
#Hero .current-match .heading ul li {
  margin: 0 10px;
}
#Hero .current-match .heading .country,
#Hero .current-match .heading .league {
  color: rgb(29, 124, 216);
  font-weight: 700;
}
#Hero .current-match .club-names p {
  margin: 0 40px;
}
#Hero .current-match .club-contents .team-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
  padding: 0px 10px;
}
#Hero .current-match .club-contents .team1,
#Hero .current-match .club-contents .team2 {
  margin-top: 15px;
}
#Hero .current-match .club-contents img {
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 16px;
}
#Hero .current-match .club-contents h3 {
  font-weight: bold;
}
#Hero .current-match .club-contents .line {
  width: 100%;
  height: 1px;
  background-color: #aaa;
}
#Hero .current-match .club-contents .active-tab-menu {
  background-color: #0f598b !important;
  color: #fff !important;
  font-weight: bold !important;
}
#Hero .current-match .club-contents .tabs {
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(29, 124, 216);
  opacity: 1;
  transition: opacity 200ms ease 0s;
  font-weight: bold;
  margin: 0 17px;
  flex: 1;
  text-align: center;
  padding: 10px 0;
  transition: 0.5s;
  margin-top: 14px;
  flex: 1;
}
#Hero .current-match .club-contents .tabs:hover {
  background-color: #0f598b;
  color: #fff;
}
#Hero .current-match .club-contents .momentum {
  text-align: center;
  background-color: rgb(237, 241, 246);
  padding: 10px 8px;
  border-radius: 7px;
  color: rgb(29, 124, 216);
}
#Hero .current-match .club-contents .momentum h5 {
  font-weight: bold;
}
#Hero .current-match .club-contents .who-will-win-content {
  padding: 10px 0;
  background-color: rgb(237, 241, 246);
  margin-top: 10px;
  text-align: center;
}
#Hero .current-match .club-contents .who-will-win-content h5 {
  font-weight: bold;
  padding: 5px 0;
}
#Hero .current-match .club-contents .who-will-win {
  display: flex;
  justify-content: space-between;
}
#Hero .current-match .club-contents .who-will-win button {
  outline: none;
  border: none;
  margin: 0 10px;
  padding: 10px 16px;
  border-radius: 7px;
  font-weight: bold;
  font-size: 20px;
  flex: 1;
  color: #fff;
}
#Hero .current-match .club-contents .who-will-win .left {
  background-color: rgb(20, 172, 35);
}
#Hero .current-match .club-contents .who-will-win .middle {
  background-color: rgb(164, 169, 179);
}
#Hero .current-match .club-contents .who-will-win .right {
  background-color: rgb(29, 124, 216);
}
#Hero .current-match .club-contents .manager-head-2-head {
  text-align: center;
  padding: 10px 0;
  background-color: rgb(237, 241, 246);
  margin-top: 10px;
  border-radius: 7px;
}
#Hero .current-match .club-contents .manager-head-2-head h5 {
  font-weight: bold;
  font-size: 17px;
}
#Hero .current-match .club-contents .manager-head-2-head .body {
  display: flex;
  justify-content: space-between;
}
#Hero .current-match .club-contents .manager-head-2-head .body .left-team,
#Hero .current-match .club-contents .manager-head-2-head .body .right-team {
  display: flex;
  width: 50%;
  justify-content: center;
}
#Hero .current-match .club-contents .manager-head-2-head .body .left-team img,
#Hero .current-match .club-contents .manager-head-2-head .body .right-team img {
  border-radius: 100%;
}
#Hero .current-match .club-contents .manager-head-2-head .body .left-team p,
#Hero .current-match .club-contents .manager-head-2-head .body .right-team p {
  text-align: left;
}
#Hero .current-match .club-contents .manager-head-2-head .body .middle-team p {
  font-size: 30px;
}
#Hero .current-match .club-contents .manager-head-2-head .body .manager-names {
  color: rgb(34, 34, 38);
}
#Hero .current-match .club-contents .head-2-head {
  margin-top: 30px;
}
#Hero .current-match .club-contents .head-2-head .left-team-head,
#Hero .current-match .club-contents .head-2-head .right-team-head {
  display: flex;
  width: 50%;
  justify-content: center;
}
#Hero .current-match .club-contents .head-2-head .middle-team p {
  font-size: 30px;
}
#Hero .current-match .club-contents .head-2-head p {
  text-align: left;
}
#Hero .current-match .club-contents .lineups-content .text-danger {
  color: #ff3d3d;
}
#Hero .current-match .club-contents .lineups-content .label {
  font-size: 9px;
  text-transform: uppercase;
  color: #6e6e6e;
  font-weight: 700;
  letter-spacing: 0.095em;
  margin-bottom: 4px;
}
#Hero .current-match .club-contents .lineups-content .mb-05 {
  margin-bottom: 4px;
}
#Hero .current-match .club-contents .lineups-content .mb-0 {
  margin-bottom: 0 !important;
}
#Hero .current-match .club-contents .lineups-content .mb-1 {
  margin-bottom: 8px;
}
#Hero .current-match .club-contents .lineups-content .mt-1 {
  margin-top: 8px;
}
#Hero .current-match .club-contents .lineups-content .mt-2 {
  margin-top: 16px;
}
#Hero .current-match .club-contents .lineups-content .ml-1 {
  margin-left: 8px;
}
#Hero .current-match .club-contents .lineups-content .ml-2 {
  margin-left: 16px;
}
#Hero .current-match .club-contents .lineups-content .ml-3 {
  margin-left: 24px;
}
#Hero .current-match .club-contents .lineups-content .ml-4 {
  margin-left: 32px;
}
#Hero .current-match .club-contents .lineups-content .ml-5 {
  margin-left: 40px;
}
#Hero .current-match .club-contents .lineups-content .mr-1 {
  margin-right: 8px;
}
#Hero .current-match .club-contents .lineups-content .mr-2 {
  margin-right: 16px;
}
#Hero .current-match .club-contents .lineups-content .mr-3 {
  margin-right: 24px;
}
#Hero .current-match .club-contents .lineups-content .mr-4 {
  margin-right: 32px;
}
#Hero .current-match .club-contents .lineups-content .mr-5 {
  margin-right: 40px;
}
#Hero .current-match .club-contents .lineups-content html,
#Hero .current-match .club-contents .lineups-content body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background: #212121;
  color: #d2d2d2;
  width: 414px;
  font-weight: 600;
  margin: 8px auto;
  padding: 16px;
}
#Hero .current-match .club-contents .lineups-content .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 14px;
  margin: 0 28px;
}
#Hero .current-match .club-contents .lineups-content .player--home .player__number {
  background: #be2c2c;
}
#Hero .current-match .club-contents .lineups-content .player--away .player__number {
  background: #31a49b;
}
#Hero .current-match .club-contents .lineups-content .player__number {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-bottom: 2.6666666667px;
  align-items: center;
  justify-content: center;
  display: flex;
}
#Hero .current-match .club-contents .lineups-content .player__name {
  font-size: 10px;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  bottom: 0;
}
#Hero .current-match .club-contents .lineups-content .formation {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#Hero .current-match .club-contents .lineups-content .formation--home .player__number {
  background: #be2c2c;
}
#Hero .current-match .club-contents .lineups-content .formation--away {
  transform: rotate(180deg);
}
#Hero .current-match .club-contents .lineups-content .formation--away .player__number {
  background: #31a49b;
}
#Hero .current-match .club-contents .lineups-content .formation__line {
  display: flex;
  padding: 0 24px;
  margin-bottom: 8px;
  justify-content: center;
}
#Hero .current-match .club-contents .lineups-content .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 14px;
  margin: 0 28px;
}
#Hero .current-match .club-contents .lineups-content .player__number {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-bottom: 2.6666666667px;
  align-items: center;
  justify-content: center;
  display: flex;
}
#Hero .current-match .club-contents .lineups-content .player__name {
  font-size: 10px;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  bottom: 0;
}
#Hero .current-match .club-contents .lineups-content .field {
  border-radius: 4px;
  background: #29502c;
  padding: 8px;
}
#Hero .current-match .club-contents .lineups-content .field__center-line {
  width: 100%;
  height: 2px;
  background: #507450;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
#Hero .current-match .club-contents .lineups-content .field__center-line:after {
  width: 60px;
  height: 60px;
  border: 2px solid #507450;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
}
#Hero .current-match .club-contents .lineups-content .field__center-line:before {
  width: 8px;
  height: 8px;
  background: #507450;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
}
#Hero .current-match .club-contents .lineups-content .field__container {
  border-radius: 2px;
  border: 2px solid #507450;
  position: relative;
}
#Hero .current-match .club-contents .lineups-content .field__half {
  position: relative;
  height: 290px;
  overflow: hidden;
}
#Hero .current-match .club-contents .lineups-content .field__half--reverse {
  transform: rotate(180deg);
}
#Hero .current-match .club-contents .lineups-content .field .penalty-box {
  border: 2px solid #507450;
  width: 35%;
  height: 50px;
  position: absolute;
  top: -2px;
  margin: auto;
  right: 0;
  left: 0;
}
#Hero .current-match .club-contents .lineups-content .field .penalty-box__container {
  position: relative;
  height: 100%;
  background: #29502c;
  z-index: 1;
}
#Hero .current-match .club-contents .lineups-content .field .penalty-box:after {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid #507450;
  position: absolute;
  bottom: -20px;
  right: 0;
  left: 0;
  margin: auto;
  content: "";
  display: block;
}
#Hero .current-match .club-contents .lineups-content .field .penalty-box__infield {
  border: 2px solid #507450;
  width: 35%;
  height: 38%;
  position: absolute;
  top: -2px;
  margin: auto;
  right: 0;
  left: 0;
}
#Hero .current-match .club-contents .lineups-content .field__corner {
  border-radius: 100%;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -10px;
  border: 2px solid #507450;
}
#Hero .current-match .club-contents .lineups-content .field__corner--left {
  left: -10px;
}
#Hero .current-match .club-contents .lineups-content .field__corner--right {
  right: -10px;
}
#Hero .current-match .club-contents .standings {
  background-color: rgb(237, 241, 246);
}
#Hero .current-match .club-contents .standings .heading {
  text-align: center;
  padding: 10px 0;
}
#Hero .current-match .club-contents .standings .ptable table {
  margin: 30px auto;
  border-collapse: collapse;
}
#Hero .current-match .club-contents .standings .ptable {
  margin: 0px 0% 30px 0%;
}
#Hero .current-match .club-contents .standings th,
#Hero .current-match .club-contents .standings td {
  padding: 10px;
}
#Hero .current-match .club-contents .standings th {
  background-color: black;
  color: #ffe221;
}
#Hero .current-match .club-contents .standings .headin {
  text-align: center;
  text-decoration: none;
  color: #ffe221;
  margin: 30px;
  display: block;
}
#Hero .current-match .club-contents .standings .wpos {
  text-align: center;
}
#Hero .current-match .club-contents .standings .wpos td {
  color: #77ff21;
}
#Hero .current-match .club-contents .standings .pos {
  text-align: center;
}
#Hero .current-match .club-contents .standings .pos td {
  color: #ff7b21;
}
#Hero .current-match .club-contents .standings table .col {
  border-bottom: 1px solid #ffffff;
}
#Hero .current-match .club-contents .standings .wpos:hover {
  background-color: #77ff21;
}
#Hero .current-match .club-contents .standings .wpos:hover td {
  color: #000000;
}
#Hero .current-match .club-contents .standings .pos:hover {
  background-color: #ff7b21;
}
#Hero .current-match .club-contents .standings .pos:hover td {
  color: #000000;
}
#Hero .current-match .club-contents .pre-match-standings {
  margin-top: 50px;
}
#Hero .current-match .club-contents .pre-match-standings .team-image {
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
#Hero .current-match .club-contents .pre-match-standings td {
  font-size: 20px;
}
#Hero .current-match .club-contents .pre-match-standings .wins-and-loses {
  display: flex;
  flex: 1;
  border-radius: 7px;
  font-size: 24px;
  width: 100%;
  overflow: hidden;
}
#Hero .current-match .club-contents .pre-match-standings .wins-and-loses .boxes {
  width: 30px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font: 800 14px/1.14 Roboto, sans-serif;
  color: rgb(255, 255, 255);
  padding: 2px;
}
#Hero .current-match .club-contents .pre-match-standings .wins-and-loses .win {
  background-color: #07bc0c;
}
#Hero .current-match .club-contents .pre-match-standings .wins-and-loses .lose {
  background-color: rgb(199, 54, 31);
}
#Hero .current-match .club-contents .pre-match-standings .wins-and-loses .equal {
  background-color: gray;
}
#Hero .current-match .club-contents .pre-match-standings .ranking {
  color: #fff;
  background-color: rgb(211, 173, 2);
  border-radius: 5px;
  padding: 2px;
}
#Hero .current-match .club-contents .pre-match-standings .team1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.active-sidebar {
  visibility: visible !important;
  width: 20% !important;
  opacity: 1 !important;
  z-index: 1;
}

#Sidebar {
  visibility: hidden;
  background-color: #edf2f6;
  padding: 10px 0;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  transition: 0.4s;
  width: 0%;
}
#Sidebar .close-icon {
  color: #000;
  position: absolute;
  right: 26px;
  top: 20px;
  font-size: 34px;
  cursor: pointer;
}
#Sidebar .sidebar-logo {
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
}
#Sidebar .sidebar-icons {
  width: 24px;
  margin-right: 15px;
}
#Sidebar .sidebar-menu-text {
  color: #000;
  font-weight: 700;
}

@media (max-width: 576px) {
  .custom-container {
    margin: 0 13px;
  }
  .advertising-header {
    display: none;
  }
  #Header {
    display: none;
  }
  #HeaderPhone {
    display: block;
  }
  #Hero .categoires {
    width: 50%;
  }
  #Hero .categoires .category a {
    font-size: 12px;
    padding: 6px 7px;
    border-radius: 17.5px;
    border: 1px solid rgb(29, 124, 216);
    color: #aaa;
    font-weight: 700;
    background: #181818;
  }
  #Hero .countries {
    display: none;
  }
  #Hero .times {
    width: 100%;
  }
  #Hero .times .calendar {
    width: 370px !important;
    position: absolute !important;
    left: 0 !important;
    top: 150px;
  }
  #Hero .spain-advertising {
    display: none;
  }
  #Hero .advertising-2 {
    display: none;
  }
  #Hero .news {
    display: none;
  }
  #Hero .news-header {
    display: none;
  }
  #Hero .advertising-banner {
    display: none;
  }
  #Sidebar {
    width: 80% !important;
  }
  .scroll-button {
    display: none;
  }
}
.displaying-match {
  display: block !important;
}

.displaying-rankings {
  visibility: visible;
}/*# sourceMappingURL=style.css.map */