@import '_news.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
  
}
ul{
    list-style: none;
}
.custom-container{
    margin: 0 12rem;
}
.scroll-button{
    background-color:   #95b9d752;
    color: rgb(29, 124, 216);;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    padding: 8px 13px;
    border-radius: 14px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
    // Header Start

#advertising-header{
    padding: 10px 0;
    background-color: #edf2f6;


        img{
            width: 828px;
            margin: auto;
            display: block;

        }
    
}
   
#Header{
    background-color: #edf2f6;
    padding: 15px 15px 15px 18px;
    border-bottom: 1px solid rgb(29, 124, 216);

    #menuIcon{
        color: #000;
        font-size: 24px;
        margin-right: 20px
    }
    .header-all{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            color: #000;
        }
        .menu{
            font-weight: bold;

            .hamburger-menu{
                margin-right: 10px;
                font-size: 20px;
                cursor: pointer;
            }
            
            .header-common-icons{
                width: 24px;
                margin-right: 7px
            }
           
        }
    }
  
}

#HeaderPhone{
    background-color: #edf2f6;
    padding: 10px 0;
    display: none;
    .all{
        display: flex;
        justify-content: space-between;
        align-items: center;
        i{
            color: #000;
            font-size: 24px;
        }
    }
}

 // Header End


#Hero{
    background-color: #edf2f6;

    .categoires{
        padding: 10px 0;
        display: flex;
        justify-content: start;
        .category{
            margin: 0 4px;
            a{
                font-size: 14px;
                padding: 6px 10px;
                border-radius: 17.5px;
                border: 1px solid rgb(29, 124, 216);
                color: #000;
                font-weight: 700;
                background: rgba(177, 216, 249, 0.451);
            }
        }
    }
    .countries{
        padding: 10px 0;
        width: 188px;
        .top-leagues{
            border-top: none;
        }
        .search-area {
            border-radius: 8px;
           
            padding: 10px 20px;
         
            .search-input{
                background-color: transparent;
                border:none;
                outline: none;
                color: #000;
            }
        }

       .ligs{
        padding: 14px 0;
        border-radius: 8px;
        border: 1px solid rgb(29, 124, 216);
        background-color: rgba(180, 204, 223, 0.4509803922);
        .top-leagues-heading,.all-leagues-heading
        {
            color: rgb(111, 111, 185);
        }
         .flags{
            width: 20px;
            object-fit: contain;
           border-radius: 8px;
        }

        .flag-names{
         
            color: #000;
            font-weight: 400;
        }
      
       
       }
    }

    .times{
        padding: 5px 0;
        width: 100%;
        margin: 0 auto;
        
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
 * Container
 */
.container {
  margin: 20px auto 0;
  max-width: 600px;
}

/*
 * Date Picker
 */
.date-picker {
  position: relative;
  
  &__calendar {
    left: 0;
    position: absolute;
    top: 100%;
    
    width: 274px;
    
    overflow: 0;
    
    transition: opacity 0.2s ease-out,
                visibility 0.2s step-start 0.2s;
    visibility: hidden;
  
    &_visible {
      opacity: 1;
      
      transition-delay: 0s;
      visibility: visible;
    }
  }
}

/*
 * Calendar
 */

 .calendar-active{
    visibility: visible !important;
    opacity: 1 !important;
    top: 130px !important;
 }

.calendar {
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    width: 505px;
    position: absolute;
    top: 125px !important;
    left: 385px;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    color: #1e2633;
    text-align: center;
    line-height: 1.2;
    border-radius: 7px;
    border: 3px solid #edeff2;
    user-select: none;
    transition: 0.5s;
  
  &__header {
    position: relative;
    
    padding: 10px 35px;
    
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
  
  &__year {
    color: #b3b3b3;
  }
  
  &__btn {
    position: absolute;
    top: 8px;
    
    display: block;
    height: 20px;
    padding: 0;
    width: 20px;
    
    text-indent: -9999px;
    
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    
    &:before {
      content: "";
      
      position: absolute;
      top: 6px;
      
      display: block;
      height: 8px;
      width: 8px;
      
      border-left: 1px solid #1e2633;
      border-top: 1px solid #1e2633;
      transform-origin: center;
    }
    
    &_prev {
      left: 10px;

      &:before {
        left: 8px;
        transform: rotate(-45deg);
      }
    }
  
    &_next {
      right: 10px;

      &:before {
        right: 8px;
        transform: rotate(135deg);
      }
    }
    
    &_disabled {
      pointer-events: none;
      
      &:before {
        border-color: #b2b2b2;
      }
    }
    
    &:hover {
      &:before {
        border-color: #985e5b;
      }
    }
  }

  &__table {
    margin-top: 8px;
    width: 100%;
    
    table-layout: fixed;
  }
  
  &__table-col-header {
    padding: 12px 0;

    color: #b2b2b2;
    font-size: 12px;
    letter-spacing: 0.1em;
  }
  
  &__table-cell {
    padding: 6px 0;
    
    color: #1e2633;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    
    cursor: pointer;
    
    &_disabled {
      color: #d3dbe8;
      pointer-events: none;
    }
    
    &_selected,
    &:hover {
      color: #985e5b;
    }
  }
}


        .time-menu{
            display: flex;
            justify-content: space-between;
            border: 1px solid rgb(29, 124, 216);
            background-color: rgba(180, 204, 223, 0.4509803922);
            border-radius: 8px;
            transition: .4s;
          
            .selection{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: bold;
                color: #000;
           
            }
            .live-logo{
                width: 38px;
                background-color:#000;
               } 

            .calendar-img{
                width: 25px;
                margin-right: 20px;
                background-color: #000;
                cursor: pointer;
            }
           
        }
      
    }

    .matches{
        padding: 14px 0;
        
        .all{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .left{
            display: flex;
           
        }
        .champion-league-logo{
            width: 30px;
            object-fit: contain;
            margin-right: 10px;
        }
        a{
            color: #000;

        }
        .description{
            font-weight: bold;
        }
        .league{
            font-weight: 200;
        }
     
        
        .match-result{
            .teams{
                display: flex;
                align-items: center;
            }
            .current-time{
                color: #000;
            }
            .current-scores{
                color: #000;
            }
            .team-img{
                width: 20px;
            }
            .team-name{
                color: #000;
            }
            .content{
                display: flex;
                justify-content: start;
                align-items: center;
                background-color: #b4ccdf73;
                padding: 0 10px;
                border-radius: 8px;

            }
            .favorite-star{
                width: 10px;
            }
            
        }
            
        
    }
    .news-header{
        width: 69%;
        color: #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(29, 124, 216);
        border-radius: 8px;
        padding: 10px 10px ;
        margin-top: 10px;
    }
    .news{
        width: 69%;
        position: relative;
      
        .news-content{
            .news-photo{
                width: 305px;
                height: 169px;
                margin-top: 10px;
                border-radius: 8px;
                object-fit: contain;
            }
            .news-text{
                color: #fff;
                h2{
                    font-size: 20px;
                    position: absolute;
                    bottom: 6px;
                    left: 14px;
                }
            }
           
        }
    }
    .advertising-banner{
        position: sticky;
        top: 0;
    }
}
.active-sidebar{
    visibility: visible !important;
    width: 20% !important;
    opacity: 1 !important;
    z-index: 1;
    
}
#Sidebar{
    visibility: hidden;
    background-color: #edf2f6;
    padding: 10px 0;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    opacity: 0;
    transition: 0.4s;
    width: 0%;
   
    
    .close-icon{
        color: #000;
        position: absolute;
        right: 26px;
        top: 20px;
        font-size: 34px;cursor: pointer;
    }
    .sidebar-logo{
        margin-left: 30px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .sidebar-icons
    {
        width: 24px;
        margin-right: 15px;
       
    }
    .sidebar-menu-text{
        color: #000;
        font-weight: 700;

    }
 
}



@media (max-width:576px)
{
    
    .custom-container{
        margin: 0 13px;
    }
    .advertising-header
    {
        display: none;
    }
    #Header{
        display: none;
    }
    #HeaderPhone{
        display: block;
    }
    #Hero{
        .categoires{
            width: 50%;
          .category{
            a{
                font-size: 12px;
                padding: 6px 7px;
                border-radius: 17.5px;
                border: 1px solid rgb(29, 124, 216);
                color: #aaa;
                font-weight: 700;
                background: #181818;
            }
          }
        }
      
        .countries{
            display: none;
        }
        .times{
            width: 100%;
        }

        .spain-advertising{
            display: none;
        }
        .advertising-2{
            display: none;
        }
        .news{
            display: none;
        }
        .news-header{
            display: none;
        }
        .advertising-banner{
            display: none;
        }

        .calendar{
            width: 390px !important;
            left: 0 !important;
            
            
        }
    }
    #Sidebar{
        width: 80% !important;  
    }
    .scroll-button{
        display: none;
    }
}

