#categorySlider {
  padding: 30px 0;
  background-color: #000;
  position: relative;
}
#categorySlider .slide-category-content {
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 17.5px;
  border: 1px solid #181818;
  color: #fff;
  font-weight: 700;
  background: #222;
}
#categorySlider .prev-button {
  background-color: black;
  color: #ff6b00;
  position: absolute;
  top: 31%;
  left: 170px;
  font-size: 20px;
}
#categorySlider .next-button {
  background-color: black;
  color: #ff6b00;
  position: absolute;
  top: 31%;
  right: 170px;
  font-size: 20px;
}

#NewsSlider {
  position: relative;
  background-color: #222;
}
#NewsSlider .slide-news-content {
  width: 60% !important;
}
#NewsSlider img {
  width: 53%;
  height: 186px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 33px;
}
#NewsSlider .text1 {
  position: absolute;
  bottom: 10px;
  left: 112px;
  color: #fff;
  font-size: 10px;
  width: 50%;
}
#NewsSlider h3 {
  font-size: 17px;
  width: 20%;
}

#HeroNews {
  background-color: #000;
  z-index: -1;
}
#HeroNews .right-content {
  border: 1px solid #222;
}
#HeroNews .ambassador-advertise {
  padding: 0px 40px;
  border: 1px solid #181818;
  width: 300px;
}
#HeroNews .ambassador-advertise img {
  width: 220px;
  height: 179px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px 10px;
}
#HeroNews .news-header {
  color: #fdfdfd;
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid #222;
  border-top: 1px solid #222;
}
#HeroNews .news-header h3 {
  font-size: 16px;
  font-weight: 700;
}
#HeroNews .news-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
#HeroNews .news-content .news {
  display: flex;
  width: 50%;
  margin-bottom: 30px;
  border-bottom: 1px solid #222;
  padding: 10px 0;
}
#HeroNews .news-content .news img {
  width: 140px;
  margin-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
#HeroNews .news-content .news .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#HeroNews .news-content .news .text span {
  font-size: 12px;
  background-color: #222;
  padding: 7px 12px;
  border-radius: 10px;
}
#HeroNews .news-content .news .text h2 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 7px;
}

@media (max-width: 576px) {
  .next-button, .prev-button {
    display: none !important;
  }
  .slide-category-content {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
  }
  #HeroNews .news-content .news {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.custom-container {
  margin: 0 12rem;
}

.scroll-button {
  background-color: rgba(149, 185, 215, 0.3215686275);
  color: rgb(29, 124, 216);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  padding: 8px 13px;
  border-radius: 14px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

#advertising-header {
  padding: 10px 0;
  background-color: #edf2f6;
}
#advertising-header img {
  width: 828px;
  margin: auto;
  display: block;
}

#Header {
  background-color: #edf2f6;
  padding: 15px 15px 15px 18px;
  border-bottom: 1px solid rgb(29, 124, 216);
}
#Header #menuIcon {
  color: #000;
  font-size: 24px;
  margin-right: 20px;
}
#Header .header-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Header .header-all span {
  color: #000;
}
#Header .header-all .menu {
  font-weight: bold;
}
#Header .header-all .menu .hamburger-menu {
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}
#Header .header-all .menu .header-common-icons {
  width: 24px;
  margin-right: 7px;
}

#HeaderPhone {
  background-color: #edf2f6;
  padding: 10px 0;
  display: none;
}
#HeaderPhone .all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#HeaderPhone .all i {
  color: #000;
  font-size: 24px;
}

#Hero {
  background-color: #edf2f6;
}
#Hero .categoires {
  padding: 10px 0;
  display: flex;
  justify-content: start;
}
#Hero .categoires .category {
  margin: 0 4px;
}
#Hero .categoires .category a {
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 17.5px;
  border: 1px solid rgb(29, 124, 216);
  color: #000;
  font-weight: 700;
  background: rgba(177, 216, 249, 0.451);
}
#Hero .countries {
  padding: 10px 0;
  width: 188px;
}
#Hero .countries .top-leagues {
  border-top: none;
}
#Hero .countries .search-area {
  border-radius: 8px;
  padding: 10px 20px;
}
#Hero .countries .search-area .search-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #000;
}
#Hero .countries .ligs {
  padding: 14px 0;
  border-radius: 8px;
  border: 1px solid rgb(29, 124, 216);
  background-color: rgba(180, 204, 223, 0.4509803922);
}
#Hero .countries .ligs .top-leagues-heading, #Hero .countries .ligs .all-leagues-heading {
  color: rgb(111, 111, 185);
}
#Hero .countries .ligs .flags {
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}
#Hero .countries .ligs .flag-names {
  color: #000;
  font-weight: 400;
}
#Hero .times {
  padding: 5px 0;
  width: 100%;
  margin: 0 auto;
  /*
   * Container
   */
  /*
   * Date Picker
   */
  /*
   * Calendar
   */
}
#Hero .times *,
#Hero .times *:before,
#Hero .times *:after {
  box-sizing: border-box;
}
#Hero .times .container {
  margin: 20px auto 0;
  max-width: 600px;
}
#Hero .times .date-picker {
  position: relative;
}
#Hero .times .date-picker__calendar {
  left: 0;
  position: absolute;
  top: 100%;
  width: 274px;
  overflow: 0;
  transition: opacity 0.2s ease-out, visibility 0.2s step-start 0.2s;
  visibility: hidden;
}
#Hero .times .date-picker__calendar_visible {
  opacity: 1;
  transition-delay: 0s;
  visibility: visible;
}
#Hero .times .calendar-active {
  visibility: visible !important;
  opacity: 1 !important;
  top: 130px !important;
}
#Hero .times .calendar {
  visibility: hidden;
  opacity: 0;
  padding: 10px;
  width: 505px;
  position: absolute;
  top: 125px !important;
  left: 385px;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  color: #1e2633;
  text-align: center;
  line-height: 1.2;
  border-radius: 7px;
  border: 3px solid #edeff2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.5s;
}
#Hero .times .calendar__header {
  position: relative;
  padding: 10px 35px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
#Hero .times .calendar__year {
  color: #b3b3b3;
}
#Hero .times .calendar__btn {
  position: absolute;
  top: 8px;
  display: block;
  height: 20px;
  padding: 0;
  width: 20px;
  text-indent: -9999px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}
#Hero .times .calendar__btn:before {
  content: "";
  position: absolute;
  top: 6px;
  display: block;
  height: 8px;
  width: 8px;
  border-left: 1px solid #1e2633;
  border-top: 1px solid #1e2633;
  transform-origin: center;
}
#Hero .times .calendar__btn_prev {
  left: 10px;
}
#Hero .times .calendar__btn_prev:before {
  left: 8px;
  transform: rotate(-45deg);
}
#Hero .times .calendar__btn_next {
  right: 10px;
}
#Hero .times .calendar__btn_next:before {
  right: 8px;
  transform: rotate(135deg);
}
#Hero .times .calendar__btn_disabled {
  pointer-events: none;
}
#Hero .times .calendar__btn_disabled:before {
  border-color: #b2b2b2;
}
#Hero .times .calendar__btn:hover:before {
  border-color: #985e5b;
}
#Hero .times .calendar__table {
  margin-top: 8px;
  width: 100%;
  table-layout: fixed;
}
#Hero .times .calendar__table-col-header {
  padding: 12px 0;
  color: #b2b2b2;
  font-size: 12px;
  letter-spacing: 0.1em;
}
#Hero .times .calendar__table-cell {
  padding: 6px 0;
  color: #1e2633;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  cursor: pointer;
}
#Hero .times .calendar__table-cell_disabled {
  color: #d3dbe8;
  pointer-events: none;
}
#Hero .times .calendar__table-cell_selected, #Hero .times .calendar__table-cell:hover {
  color: #985e5b;
}
#Hero .times .time-menu {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(29, 124, 216);
  background-color: rgba(180, 204, 223, 0.4509803922);
  border-radius: 8px;
  transition: 0.4s;
}
#Hero .times .time-menu .selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}
#Hero .times .time-menu .live-logo {
  width: 38px;
  background-color: #000;
}
#Hero .times .time-menu .calendar-img {
  width: 25px;
  margin-right: 20px;
  background-color: #000;
  cursor: pointer;
}
#Hero .matches {
  padding: 14px 0;
}
#Hero .matches .all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Hero .matches .left {
  display: flex;
}
#Hero .matches .champion-league-logo {
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}
#Hero .matches a {
  color: #000;
}
#Hero .matches .description {
  font-weight: bold;
}
#Hero .matches .league {
  font-weight: 200;
}
#Hero .matches .match-result .teams {
  display: flex;
  align-items: center;
}
#Hero .matches .match-result .current-time {
  color: #000;
}
#Hero .matches .match-result .current-scores {
  color: #000;
}
#Hero .matches .match-result .team-img {
  width: 20px;
}
#Hero .matches .match-result .team-name {
  color: #000;
}
#Hero .matches .match-result .content {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgba(180, 204, 223, 0.4509803922);
  padding: 0 10px;
  border-radius: 8px;
}
#Hero .matches .match-result .favorite-star {
  width: 10px;
}
#Hero .news-header {
  width: 69%;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(29, 124, 216);
  border-radius: 8px;
  padding: 10px 10px;
  margin-top: 10px;
}
#Hero .news {
  width: 69%;
  position: relative;
}
#Hero .news .news-content .news-photo {
  width: 305px;
  height: 169px;
  margin-top: 10px;
  border-radius: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
#Hero .news .news-content .news-text {
  color: #fff;
}
#Hero .news .news-content .news-text h2 {
  font-size: 20px;
  position: absolute;
  bottom: 6px;
  left: 14px;
}
#Hero .advertising-banner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.active-sidebar {
  visibility: visible !important;
  width: 20% !important;
  opacity: 1 !important;
  z-index: 1;
}

#Sidebar {
  visibility: hidden;
  background-color: #edf2f6;
  padding: 10px 0;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  transition: 0.4s;
  width: 0%;
}
#Sidebar .close-icon {
  color: #000;
  position: absolute;
  right: 26px;
  top: 20px;
  font-size: 34px;
  cursor: pointer;
}
#Sidebar .sidebar-logo {
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
}
#Sidebar .sidebar-icons {
  width: 24px;
  margin-right: 15px;
}
#Sidebar .sidebar-menu-text {
  color: #000;
  font-weight: 700;
}

@media (max-width: 576px) {
  .custom-container {
    margin: 0 13px;
  }
  .advertising-header {
    display: none;
  }
  #Header {
    display: none;
  }
  #HeaderPhone {
    display: block;
  }
  #Hero .categoires {
    width: 50%;
  }
  #Hero .categoires .category a {
    font-size: 12px;
    padding: 6px 7px;
    border-radius: 17.5px;
    border: 1px solid rgb(29, 124, 216);
    color: #aaa;
    font-weight: 700;
    background: #181818;
  }
  #Hero .countries {
    display: none;
  }
  #Hero .times {
    width: 100%;
  }
  #Hero .spain-advertising {
    display: none;
  }
  #Hero .advertising-2 {
    display: none;
  }
  #Hero .news {
    display: none;
  }
  #Hero .news-header {
    display: none;
  }
  #Hero .advertising-banner {
    display: none;
  }
  #Hero .calendar {
    width: 390px !important;
    left: 0 !important;
  }
  #Sidebar {
    width: 80% !important;
  }
  .scroll-button {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */